body {
  background-color: gray;
}

h1 {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-family: sans-serif;
}

.spacebetween {
  display: flex;
  justify-content: space-between;
}
.center {
  display: flex;
  justify-content: center;
}
